# Folders
cmake_out/

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.out
*.gv
*.dot
*.gsm

*.opensdf

build
lib
doc/doc/*
doc/libpeerconnection.log
editor/guacamole_editor
guarc/guarc
guacamole.sublime-workspace
include/gua/generated/*
include/gua/config.hpp
src/gua/generated/*
.nfs*
.vim.custom
tests/tests
examples/oculus/example-oculus
examples/oculus_pitoti/example-oculus_pitoti
examples/multicontext/example-multicontext
examples/input/example-input
examples/gui/example-gui
examples/volume/example-volume
examples/nurbs/example-nurbs
examples/video3d/example-video3d
examples/stress_test/stress_test
examples/nice_and_shiny/nice_and_shiny
examples/plod/example-plod
examples/projective_texturing/example-projective_texturing
examples/tiled_shading_test/tiled_shading_test
examples/transparency/example-transparency
examples/screenshot/example-screenshot
examples/smooth_lighting/example-smooth_lighting
examples/clipping/clipping
examples/oit_demo/example-oit_demo
examples/animation/example-animation
examples/physics/example-physics
examples/tiledwall/example-tiledwall
examples/lod_mesh_textured/example-lod_mesh_textured
examples/lod_mesh_virtually_textured/example-lod_mesh_virtually_textured
examples/time_varying_volume/example-time_varying_volume
examples/depth_cube_map/example-depth_cube_map
examples/lod_simple/example-lod_simple
examples/plod_shadows/example-plod_shadows
examples/plod_simple/example-plod_simple

install
examples/picking/example-picking
example-gazebo_scene

.idea
examples/volumetric_point_and_line_rendering/example-volumetric_point_and_line_rendering
examples/nrp_scene/example-nrp_scene
examples/projective_virtual_texturing/example-projective_virtual_texturing
examples/virtual_texturing/example-virtual_texturing

