
$footer-height: 180px;

html, body {
  height: 100%;
}

html>body {
  min-height: 100%;
  height: auto;
  position: relative;
}

.content {
  margin-bottom: $footer-height;
}

.text-right {
  text-align: right;
}

.page-header {
  background: url(../images/bgs/header-bg.jpg) center center;
  @include background-size(cover);
  position: relative;

  h1 {
    font-size: 4em;
    bottom: 15px;
    font-weight: lighter;
    text-shadow: 1px 1px 15px #000;
    padding-bottom:10px;
  }

  &.teaser {
    min-height: 400px;

  }

  @media (max-width: 767px) {
    h1 {
      font-size: 4em;
      bottom: 50px;
    }
  }

  small {
    color: #fff;
  }
}

.footer-wrapper {

  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 100%;
  line-height: 25px;

  .page-footer {
    padding: 20px 20px 20px;
    margin: 20px -20px 0px;

    @include border-top-left-radius;
    @include border-top-right-radius;

    @include box-shadow(
       rgba(255, 255, 255, 0.1) 0 1px 0,
       rgba(0, 0, 0, 0.8) 0 1px 7px 0px inset
    );
    background: #202020;
    background-color: rgba(0, 0, 0, 0.3);
    color: #888;

    a {
      color: #bbb;

      &:hover {
        color: #fff;
      }
    }

    .text-right {
      margin-top: 12px;
    }

    img {
      position: relative;
      top: -4px;
      margin-left: 5px;
      width: 100px;
      height: 30px;
      opacity: .8;
      padding: 1px;
      @include transition(opacity .2s);

      &:hover {
        opacity: 1;
      }
    }
  }
}
